
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}STILL NEED IT!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}" >
		FUGGETABOUTIT!
	</button>

